/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "../../app.scss";

.portfolio{
  position: relative;

  .progress{
    position:sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    @include mobile{
      padding-top: calc(100vh - 75px);
      font-size: 24px;
    }

    .progressBar{
      height: 10px;
      background-color: white;
    }
  }

  .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;


    .wrapper{
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 50px;

      @include mobile{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }

      .imageContainer{
        -webkit-box-flex:1;
            -ms-flex:1;
                flex:1;
        height:50%;

        @include mobile{
          width: 100%;
          max-height: 300px;
        }

        img{
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover;

          @include mobile{
            -o-object-fit: contain;
               object-fit: contain;
          }
        }
      }

      .textContainer{
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;

        @include mobile{
          -webkit-transform: none !important;
              -ms-transform: none !important;
                  transform: none !important;
          padding: 10px;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          text-align: center;
        }
        
        h2{
          font-size: 72px;

          @include mobile{
            font-size: 36;
          }
        }

        p{
          color:gray;
          font-size: 20px;

          @include mobile{
            font-size: 16px;
          }
        }
        button{
          background-color: orange;
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 200px;
          cursor: pointer;

          @include mobile{
            z-index: 999;
            color:black !important;
          }
        }
      }
    }
  }
}