@import "../../app.scss";

.ExpDescriptionList li {
  margin-bottom: 10px;
  @include tablet{
    font-size: small;
    margin-bottom: 7px;
  }
}
.ExpDescriptionList{
  list-style-type: none;
}
.vertical-timeline-element-subtitle,.vertical-timeline-element-title,.ExpDescriptionList{
  color: black;

}

.vertical-timeline-element--education{
  @include tablet{
    color: black;
  }
  @include mobile{
    color: black;
  }
}
